<a href="https://colab.research.google.com/github/kevin866/ml_nlp_ebaycomp/blob/spacy/ebay_ml_competition_spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import gzip
#import shutil
#with gzip.open('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/Listing_Titles.tsv.gz', 'rb') as f_in:
 #   with open('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/Listing_Titles.tsv', 'wb') as f_out:
 #       shutil.copyfileobj(f_in, f_out)
#unzip the gz file and copy it to the directory

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from keras import layers

In [ ]:
!python -m spacy download en_core_web_trf

In [ ]:
!python -m venv .env
!.env\Scripts\activate
!pip install -U pip setuptools wheel
!pip install -U 'spacy[cuda116,transformers,lookups]'
!python -m spacy download en_core_web_trf

In [ ]:
import spacy
nlp = spacy.blank("en")

In [ ]:
!python -m spacy info

In [ ]:
from spacy.tokens import DocBin
db = DocBin()

In [ ]:
from tqdm import tqdm

In [ ]:
train_path = '/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/Train_Tagged_Titles.tsv.gz'

In [ ]:
tags

array(['Brand', 'MPN', 'Type', 'Model', 'Color', 'Fabric Type', 'Closure',
       'Pattern', 'Material', 'No Tag', 'Product Line', 'Features',
       'Theme', 'Country/Region of Manufacture', 'Occasion', 'Department',
       'Size', 'Handle/Strap Material', 'Handle Style', 'Accents',
       'Style', 'Hardware Material', 'Trim Material',
       'Measurement, dimension', 'Pocket Type', 'Character', 'Obscure',
       'Season', 'Character Family', 'Lining Material', 'Strap Drop',
       'Handle Drop'], dtype='<U29')

In [ ]:
train_df = pd.read_csv(train_path, sep="\\\t", engine='python')

In [ ]:
train_df.head()

,Record Number,Title,Token,Tag
0,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,LOUIS,Brand
1,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,VUITTON,None
2,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,M40096,MPN
3,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Handbag,Type
4,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Priscilla,Model

In [ ]:
rslt_df = train_df[train_df['Tag'] == "Character"]

In [ ]:
rslt_df.shape

(50, 4)

In [ ]:
Listing_path = '/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/Listing_Titles.tsv'

In [ ]:
Listing_df = pd.read_csv(Listing_path, sep='\\\t', engine='python')

In [ ]:
tags = pd.DataFrame(train_df['Tag'].unique()).dropna()

In [ ]:
tags = np.ravel(np.array(tags).tolist())

In [ ]:
train = Listing_df.iloc[:5000]['Title']

In [ ]:
Listing_df.head()

   Record Number                                              Title
0              1  LOUIS VUITTON M40096 Handbag Priscilla Multi-c...
1              2  LOUIS VUITTON Petit Noe Drawstring Shoulder Ba...
2              3  LOUIS VUITTON Damier Azur Pochette Bosphore Sh...
3              4  GUCCI Bamboo 2Way Shoulder Bag Leather Brown A...
4              5  Rank AB Vintage Gucci Sherry line PVC Leather ...

In [ ]:
train_df.head()

,Record Number,Title,Token,Tag
0,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,LOUIS,Brand
1,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,VUITTON,None
2,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,M40096,MPN
3,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Handbag,Type
4,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Priscilla,Model

In [ ]:
new_train = merge_tagged_identities(train_df)

In [ ]:
new_train.shape

(48200, 4)

In [ ]:
new_train.to_csv('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/train_merged_entities.tsv', sep="\t", index = False)

In [ ]:
def merge_tagged_identities(train_df):
  train_df = pd.DataFrame(train_df)
  drop = []
  processed = train_df.copy(deep=True)
  count = 0
  for i, j in train_df.iterrows():
    if j[3] == None:
      count += 1
      drop.append(i)
    elif count > 0:
      processed.iat[i-count-1,2]=" ".join([processed.iloc[i-k][2] for k in range(1,count+2)][::-1])
      count = 0
  processed=processed[processed['Tag'].notna()]
  processed = processed.reset_index(drop = True)
  return processed

In [ ]:
def extract_entites(train_df):
  processed = merge_tagged_identities(train_df)
  all_ent = []
  pos = 0
  ent = {'entites':[]}
  for i, j in processed.iterrows():
    if pos != 0:
      pos = pos + 1
    ent['entites'].append((pos, pos+len(j[2]), j[3]))
    pos = pos+len(j[2])
    if i+1 < len(processed):
      if processed.iloc[i+1]["Record Number"]>j[0]:
        pos = 0 
        all_ent.append(ent)
        ent = {'entites':[]}
  all_ent.append(ent)
  return all_ent

In [ ]:
def merge_entites_w_data(train, train_df):
  all_ent = extract_entites(train_df)
  train = pd.DataFrame(train)
  all_ent = pd.DataFrame(all_ent)
  n_train = train.join(all_ent)
  n_train['entites'] = n_train['entites'].apply(lambda x:{'entities': x})
  exam = n_train.apply(lambda x : (x[0],x[1]), axis = 1)
  exam = np.array(exam).tolist()
  return exam

In [ ]:
exam = merge_entites_w_data(train, train_df)
training = exam[:4000]
validation = exam[4000:]

In [ ]:
print(len(validation))

In [ ]:
training[0]

('LOUIS VUITTON M40096 Handbag Priscilla Multi-color canvas Multi-color canvas',
 {'entities': [(0, 13, 'Brand'),
   (14, 20, 'MPN'),
   (21, 28, 'Type'),
   (29, 38, 'Model'),
   (39, 50, 'Color'),
   (51, 57, 'Fabric Type'),
   (58, 69, 'Color'),
   (70, 76, 'Fabric Type')]})

In [ ]:
import json
def convert_to_docbin(data, tags, filename, pretrain):
  if not pretrain:
    data={"annotations":data,"classes": tags.tolist()} 
    data = json.dumps(data)
    loaded_data = json.loads(data)
    type(loaded_data) 
    for text, annot in tqdm(loaded_data["annotations"]):
      doc = nlp.make_doc(text)
      ents = []
      for start, end, label in annot["entities"]:
        span = doc.char_span(start, end, label = label, alignment_mode="contract")
        if span is None:
          print("skipping entity")
        else:
          ents.append(span)
      doc.ents = ents
      db.add(doc)
    db.to_disk("./drive/MyDrive/eBay_ML_Challenge_Dataset_2022/{}".format(filename))
  else:
    data = {"text":data}
    for i in data:
      doc = nlp.make_doc(i)
      db.add(doc)
    db.to_disk("./drive/MyDrive/eBay_ML_Challenge_Dataset_2022/{}".format(filename))

In [ ]:
pretrain = np.array(Listing_df.Title)

In [ ]:
nlp.make_doc(pretrain[0])

LOUIS VUITTON M40096 Handbag Priscilla Multi-color canvas Multi-color canvas

In [ ]:
convert_to_docbin(Listing_df, tags, 'pertraining.spacy', True)

In [ ]:
convert_to_docbin(training, tags, 'training.spacy', False)
convert_to_docbin(validation, tags, 'validation.spacy', False)

In [ ]:
!python -m spacy init fill-config /content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/base_config_without_trf.cfg config_pretrain.cfg --pretraining

In [ ]:
!python -m spacy pretrain config_pretrain.cfg ./output_pretrain --paths.raw_text /content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/pertraining.spacy

In [ ]:
!python -m spacy init fill-config /content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/base_config.cfg config.cfg

✔ Auto-filled config with all values
✔ Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [ ]:
!python -m spacy train config.cfg --output ./drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_trf_v4 --paths.train ./drive/MyDrive/eBay_ML_Challenge_Dataset_2022/training.spacy --paths.dev ./drive/MyDrive/eBay_ML_Challenge_Dataset_2022/validation.spacy --gpu-id 0

✔ Created output directory:
drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_trf_v4
ℹ Saving to output directory:
drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_trf_v4
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-08-07 18:36:20,220] [INFO] Set up nlp object from config
[2022-08-07 18:36:20,233] [INFO] Pipeline: ['transformer', 'ner']
[2022-08-07 18:36:20,237] [INFO] Created vocabulary
[2022-08-07 18:36:20,239] [INFO] Finished initializing nlp object
Downloading: 100% 481/481 [00:00<00:00, 509kB/s]
Downloading: 100% 878k/878k [00:00<00:00, 7.33MB/s]
Downloading: 100% 446k/446k [00:00<00:00, 5.77MB/s]
Downloading: 100% 1.29M/1.29M [00:00<00:00, 9.77MB/s]
Downloading: 100% 478M/478M [00:09<00:00, 51.1MB/s]
Some weights of the model checkpoint at roberta-base were not used when initializing RobertaModel: ['lm_head.layer_norm.weight', 'lm_head.decoder.weight', 'lm_head.dense.weight', 'lm_head.bias', 'lm_head.layer_norm.bias', 'lm_head.dense.bias']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
[2022-08-07 18:36:47,050] [INFO] Initialized pipeline components: ['transformer', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['transformer', 'ner']
ℹ Initial learn rate: 0.0
E    #       LOSS TRANS...  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  -------------  --------  ------  ------  ------  ------
  0       0         593.41   1258.51    0.20    0.13    0.47    0.00
  6     200       70352.76  148460.60    9.68   27.62    5.87    0.10
 12     400       50685.05  111861.55   15.93   31.63   10.65    0.16
 18     600       46898.98  100217.98   28.62   37.61   23.10    0.29
 24     800       43493.05  87237.73   45.84   50.58   41.91    0.46
 31    1000       38775.09  72109.88   59.35   65.56   54.22    0.59
 37    1200       34923.36  57385.11   69.66   72.32   67.18    0.70
 43    1400       31200.31  43891.93   76.22   77.96   74.56    0.76
 49    1600       23852.74  31480.43   79.80   81.05   78.58    0.80
 56    1800       17653.97  21908.47   81.79   83.18   80.45    0.82
 62    2000       13325.68  15435.77   83.31   85.99   80.80    0.83
 68    2200        9510.97  10989.02   83.36   85.42   81.39    0.83
 74    2400        7925.61   8534.58   83.08   85.00   81.25    0.83
 81    2600        6020.49   6537.08   83.46   85.43   81.58    0.83
 87    2800        4831.82   5189.45   83.87   86.28   81.60    0.84
 93    3000        4019.65   4293.15   83.65   85.92   81.50    0.84
 99    3200        3677.77   3789.74   83.30   84.90   81.76    0.83
105    3400        3414.80   3437.24   84.26   87.21   81.50    0.84
112    3600        2996.18   3117.60   84.10   86.92   81.45    0.84
118    3800        2776.55   2741.97   84.01   86.62   81.55    0.84
124    4000        2436.57   2477.25   83.95   86.61   81.44    0.84
130    4200        2271.00   2267.98   83.43   85.34   81.60    0.83
137    4400        2084.71   2126.54   83.53   85.66   81.51    0.84
143    4600        2026.60   1997.78   83.16   84.92   81.47    0.83
149    4800        1834.35   1873.02   83.93   86.54   81.47    0.84
155    5000        1816.83   1774.33   84.05   86.87   81.40    0.84
✔ Saved pipeline to output directory
drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_trf_v4/model-last

In [ ]:
import spacy
nlp2 = spacy.load('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_trf_v4/model-best')

In [ ]:
#label = processed[['Record Number','Token', 'Tag']].copy()
quiz_data = Listing_df[5000:30000]

In [ ]:
def prediction(quiz_data):
  column_names = ['Record number','Aspect Name', 'Aspect Value']
  predicted = pd.DataFrame(columns = column_names)
  count = 0
  for i, j in tqdm(quiz_data.iterrows(), total=quiz_data.shape[0]):
    doc2 = nlp2(j[1])
    for ent in doc2.ents:
      predicted.loc[count] = [j[0], ent.label_, ent.text] 
      count+=1
  return predicted

In [ ]:
def drop_tag(predicted):
  predicted = predicted[predicted['Aspect Name'] != 'Obscure']
  predicted = predicted[predicted['Aspect Name'] != 'No Tag']
  predicted=predicted.set_index('Record number', drop = True)
  return predicted

In [ ]:
import spacy
nlp3 = spacy.load('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/output_4_1/model-best')

/usr/local/lib/python3.7/dist-packages/spacy/util.py:865: UserWarning: [W095] Model 'en_pipeline' (0.0.0) was trained with spaCy v3.3 and may not be 100% compatible with the current version (3.4.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [ ]:
a = nlp3("HOBO INTERNATIONAL Women 's VINTAGE LEATHER Shoulder Bag CROSSBODY")
print(a.ents)
for ent in a.ents:
  print([ent.label_, ent.text] )

(HOBO INTERNATIONAL, Women 's, VINTAGE, LEATHER, Shoulder, Bag, CROSSBODY)
['Brand', 'HOBO INTERNATIONAL']
['Department', "Women 's"]
['No Tag', 'VINTAGE']
['Material', 'LEATHER']
['Type', 'Shoulder']
['Type', 'Bag']
['Type', 'CROSSBODY']

In [ ]:
b = nlp2("HOBO INTERNATIONAL Women 's VINTAGE LEATHER Shoulder Bag CROSSBODY")
print(b)
for ent in b.ents:
  print([ent.label_, ent.text] )

HOBO INTERNATIONAL Women 's VINTAGE LEATHER Shoulder Bag CROSSBODY
['Brand', 'HOBO']
['Accents', "'s"]
['Type', 'Bag']

In [ ]:
predicted = prediction(quiz_data)
predicted = drop_tag(predicted)

100%|██████████| 25000/25000 [37:37<00:00, 11.07it/s]

In [ ]:
predicted.head()

              Aspect Name Aspect Value
Record number
5001                Brand            !
5001                Brand        Rider
5001                Model         Gaim
5002                Brand         HOBO
5002              Accents           's

In [ ]:
predicted.to_csv('/content/drive/MyDrive/eBay_ML_Challenge_Dataset_2022/quiz4.tsv', header=None, sep="\t")

In [ ]:
quiz_data.head()

      Record Number                                              Title
5000           5001           SALE ! Kamen Rider Gaim Belt Set No. 802
5001           5002  HOBO INTERNATIONAL Women 's VINTAGE LEATHER Sh...
5002           5003  Coach Peyton Brown and Tan Signature C Shoulde...
5003           5004     MZ WALLACE Metro tote gray quilted nylon purse
5004           5005  Women Fashion Sequins Backpack Travel PU Handb...

In [ ]:
#label.columns = ["Record Number","Aspect Name","Aspect Value"]